services:
  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'
  prometheus:
    image: prom/prometheus
    volumes:
      - "./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml"
    networks:
      - localprom
    ports:
      - 9090:9090
  cadvisor:
    container_name: cadvisor
    image: gcr.io/cadvisor/cadvisor:latest
    ports:
      - "8080:8080"
    volumes:
      - "/:/rootfs"
      - "/var/run:/var/run"
      - "/sys:/sys"
      - "/var/lib/docker/:/var/lib/docker"
      - "/dev/disk/:/dev/disk"
    privileged: true
    devices:
      - "/dev/kmsg"
    networks:
    - localprom
  grafana:
    image: grafana/grafana:latest
    container_name: grafana

    networks:
      - localprom
    volumes:
      - "grafana-data:/var/lib/grafana"
      - "./grafana/provisioning:/etc/grafana/provisioning"
    depends_on:
    - prometheus
    restart: unless-stopped
    ports:
    - "3000:3000"
networks:
  localprom:
    driver: bridge
volumes:
  grafana-data:
